# Seguridad de Django
SECRET_KEY=tu-clave-super-secreta-de-produccion
DEBUG=True

# Credenciales de Base de Datos (Si se migra a Postgres/MySQL)
DB_NAME=guardbox_db
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432

# Credenciales y Configuración de Firebase (Opcional - Backend)
FIREBASE_CREDENTIALS=/ruta/a/tu/firebase-adminsdk.json
