{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Casillero</title>
</head>
<body>
    <h1>Detalles del Casillero</h1>
    <p>ID: {{ casillero.id }}</p>
    <p>Nombre: {{ casillero.nombre }}</p>
    <p>Ubicación: {{ casillero.ubicacion }}</p>
    <p>Precio: {{ casillero.precio }}</p>
    <p>Descripción: {{ casillero.descripcion }}</p>
    <p>Estado: {{ casillero.estado }}</p>
</body>
</html>
